* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--page-bg-color);
  color: #333;
  font-family: var(--paragraph-font);
  opacity: 1; /* Correct opacity value */
  min-height: 100vh;
  overflow-x: hidden;

}

